body{
    font-family:Times new roman; 
    color: green;
	margin: 2;
    padding: 2;
	line-height:1.6;
	background-color: #F9F9F9;
	color: #333;
	text-align: center;
    
} 
button{
	font-family:Times new roman; 
	font-size: 30px;
	background-color:green; 
	color: white;
	border: none; 
	border-radius: 5px;
}
